# macOS
.DS_Store
*/.DS_Store

# Node / frontend dependencies
node_modules/

# Build outputs
/dist/
/out/
/.next/
/.vercel/
/tmp/
*.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/*.log

# Environment & secrets
.env
.env.*
*.local

# Editors / IDE
.vscode/
.idea/
.DS_Store?
